<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Datos de la prenda
                </div>
                <form action="/admin/ropas/guardar" method="post" enctype="multipart/form-data">
                    <label>
                        <input type="radio" name="opcion" value="opcion1"> Accesorio
                      </label>
                      <label>
                        <input type="radio" name="opcion" value="opcion2"> Prenda
                      </label>
                    
                    <div class="mb-3">
                        <label for="txtNombre" class="form-label">Nombre:</label>
                        <input type="text"
                          class="form-control" name="txtNombre" id="txtNombre" aria-describedby="helpId" placeholder="Nombre de la prenda">
                    </div>
                    <div class="mb-3">
                        <label for="txtImagen" class="form-label">Imagen:</label>
                        <input type="file"
                            class="form-control" name="txtImagen" id="txtImagen" aria-describedby="helpId" placeholder="Nombre de la imagen">
                    </div>
                    <div class="mb-3">
                        <label for="txtPrecio" class="form-label">Precio:</label>
                        <input type="text"
                            class="form-control" name="txtPrecio" id="txtPrecio" aria-describedby="helpId" placeholder="Precio de la prenda">
                    </div>
                   <button type="submit" class="btn btn-primary">Agregar</button>   
                                             
                </form>
                <div class="card-footer text-muted">
                    
                </div>
            </div>
        </div> 
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre </th>
                            <th scope="col">Talle </th>
                            <th scope="col">Precio </th>
                            <th scope="col">Precio Tarjeta</th>
                            <th scope="col">Imagen </th>
                            <th scope="col">Acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <form action="/admin/ropas/modificar" method="post" enctype="multipart/form-data"></form>
                            <tr class="">
                                <td scope="row">
                        <input type="hidden"  name="txtId" id="txtId">
                                </td>
                                <td>
                        <input  name="name" id="name">       </td>
                                <td>  
                        <input type="file"  class="form-control" name="txtImagen" id="txtImagen" aria-describedby="helpId" placeholder="Nombre de la imagen">
                                
                                
                                <td>
                        <button  type="submit" class="btn btn-primary">Confirmar modificaciones </button>
                        
                                        <form action="/admin/ropas/borrar" method="post">
                                        <input type="hidden" name="txtId" id="txtId">
                                        <button  type="submit" class="btn btn-primary">Eliminar</button>
                                        </form>
                        
                                </td>
                            </tr>
                       
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>
</div>