/* nosotros.component.css */

div {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    color: #333;
  }
  
  p {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
  }
  