<div>
    <h1>Contacto</h1>
    <p>Encuentranos en nuestro <a href="https://www.google.com/maps/place/La+Confianza/@-30.7040467,-64.0698982,17z/data=!3m1!4b1!4m6!3m5!1s0x94326cb31d4344c1:0xfb3ad01efe57aded!8m2!3d-30.7040513!4d-64.0673233!16s%2Fg%2F11bbrmsd9d?entry=ttu">local</a> </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.5104709442444!2d-64.0698982251864!3d-30.70404666217639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94326cb31d4344c1%3A0xfb3ad01efe57aded!2sLa%20Confianza!5e0!3m2!1ses!2sar!4v1695381183255!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <!-- contacto.html -->

<div class="container">
  <h2>Contacto</h2>
  <p>Si tienes alguna pregunta o necesitas ponerse en contacto con nosotros, por favor utiliza una de las siguientes direcciones de correo electrónico:</p>

  <ul>
    <li><a href="tfprax@escuelasproa.edu.ar">tfprax@escuelasproa.edu.ar</a></li>
    <li><a href="oivisintini@escuelasproa.edu.ar">oivisintini@escuelasproa.edu.ar</a></li>
    <li><a href="fearnolettodifilippo@escuelasproa.edu.ar">fearnolettodifilippo@escuelasproa.edu.ar</a></li>
  </ul>
</div>
