<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros - La Confianza</title>
</head>
<body>
    <section class="nosotros">
        <div class="container">
            <h1 class="titulo-nosotros">Nuestro Equipo</h1>
            <div class="equipo">
                <div class="miembro">
                    <h2>Nacho Visintini</h2>
                    <p>Programador css</p>
                    <p>Nacho es un apasionado por la programación y trae soluciones innovadoras a nuestro equipo.</p>
                </div>
                <div class="miembro">
                    <h2>Fabrizio Arnoletto</h2>
                    <p>Programador Frontend</p>
                    <p>Fabrizio se encarga de la interfaz de usuario y la experiencia de nuestros clientes en línea.</p>
                </div>
                <div class="miembro">
                    <h2>Tomás Prax</h2>
                    <p>Programador Backend</p>
                    <p>Tomás trabaja en la parte detrás de escena para asegurar que todo funcione sin problemas en nuestro sitio web.</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
